/* container */
.container, .container-large, .container-xl {
  position:relative;
  width:100%;
  margin-right:auto;
  margin-left:auto;
  padding-left:20px;
  padding-right:20px;
}

.container {
  max-width:1116px;
}

.container-large {
  max-width:1236px;
}

.container-xl {
  max-width:1330px;
}
