/**
 * Flex
 * https://stackoverflow.design/product/base/flex/
 */
/* align-content */
.ac-stretch {
  align-content: stretch;
}

.ac-center {
  align-content: center;
}

.ac-flex-start {
  align-content: flex-start;
}

.ac-flex-end {
  align-content: flex-end;
}

.ac-space-between {
  align-content: space-between;
}

.ac-space-around {
  align-content: space-around;
}

/* align-items */
.ai-stretch {
  align-items: stretch;
}

.ai-center {
  align-items: center;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-baseline {
  align-items: baseline;
}

/* align-self */
.as-auto {
  align-self: auto;
}

.as-stretch {
  align-self: stretch;
}

.as-center {
  align-self: center;
}

.as-flex-start {
  align-self: flex-start;
}

.as-flex-end {
  align-self: flex-end;
}

.as-baseline {
  align-self: baseline;
}

/* flex-direction */
.fd-row {
  flex-direction: row;
}

.fd-row-reverse {
  flex-direction: row-reverse;
}

.fd-column {
  flex-direction: column;
}

.fd-column-reverse {
  flex-direction: column-reverse;
}

/* flex-wrap */
.fw-nowrap {
  flex-wrap: nowrap;
}

.fw-wrap {
  flex-wrap: wrap;
}

.fw-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* justify-content */
.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}
