/**
 * Height
 * https://stackoverflow.design/product/base/width-height/
 */
/* h-auto */
.h-auto {
  height: auto;
}

/* h-screen */
.h-screen {
  height: 100vh;
}

/* height */
.h-0 {
  height: 0;
}

.h-100 {
  height: 100%;
}
