/**
 * Positioning
 * https://stackoverflow.design/product/base/position/
 */
/* Positions */
.ps-absolute {
  position: absolute;
}

.ps-fixed {
  position: fixed;
}

.ps-relative {
  position: relative;
}

.ps-static {
  position: static;
}

.ps-sticky {
  position: sticky;
}

/* Coordinates */
.t0 {
  top: 0;
}

.r0 {
  right: 0;
}

.b0 {
  bottom: 0;
}

.l0 {
  left: 0;
}

.t1 {
  top: 1px;
}

.r1 {
  right: 1px;
}

.b1 {
  bottom: 1px;
}

.l1 {
  left: 1px;
}

.t2 {
  top: 2px;
}

.r2 {
  right: 2px;
}

.b2 {
  bottom: 2px;
}

.l2 {
  left: 2px;
}

.t4 {
  top: 4px;
}

.r4 {
  right: 4px;
}

.b4 {
  bottom: 4px;
}

.l4 {
  left: 4px;
}

.t6 {
  top: 6px;
}

.r6 {
  right: 6px;
}

.b6 {
  bottom: 6px;
}

.l6 {
  left: 6px;
}

.t8 {
  top: 8px;
}

.r8 {
  right: 8px;
}

.b8 {
  bottom: 8px;
}

.l8 {
  left: 8px;
}

.t12 {
  top: 12px;
}

.r12 {
  right: 12px;
}

.b12 {
  bottom: 12px;
}

.l12 {
  left: 12px;
}

.t16 {
  top: 16px;
}

.r16 {
  right: 16px;
}

.b16 {
  bottom: 16px;
}

.l16 {
  left: 16px;
}

.t24 {
  top: 24px;
}

.r24 {
  right: 24px;
}

.b24 {
  bottom: 24px;
}

.l24 {
  left: 24px;
}

.t50p {
  top: 50%;
}

.r50p {
  right: 50%;
}

.b50p {
  bottom: 50%;
}

.l50p {
  left: 50%;
}

@media only screen and (max-width: 767px) {
  .t24 {
    top: 20px;
  }

  .r24 {
    right: 20px;
  }

  .b24 {
    bottom: 20px;
  }

  .l24 {
    left: 20px;
  }

  .t50p {
    top: 20%;
  }

  .r50p {
    right: 20%;
  }

  .b50p {
    bottom: 20%;
  }

  .l50p {
    left: 20%;
  }
}
