/**
 * Spacing
 * https://stackoverflow.design/product/base/spacing/
 */
/* Margin auto */
.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

/**
 * General spacing variables
 */
/**
 * custom spacing
 */
:root {
  --spacing-0px: 0;
}

.pt0px {
  padding-top: var(--spacing-0px);
}

.pb0px {
  padding-bottom: var(--spacing-0px);
}

.mt0px {
  margin-top: var(--spacing-0px);
}

.mb0px {
  margin-bottom: var(--spacing-0px);
}

:root {
  --gap-0px: 0;
}

.pt0px {
  padding-top: var(--gap-0px);
}

.pb0px {
  padding-bottom: var(--gap-0px);
}

.mt0px {
  margin-top: var(--gap-0px);
}

.mb0px {
  margin-bottom: var(--gap-0px);
}
