/**
 * Typography
 * https://stackoverflow.design/product/base/typography/
 */
/* font-family */
.ff-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.ff-primary {
  font-family: Proxima Nova, sans-serif;
}

/* color */
.fc-white {
  color: #fff;
}

.fc-black {
  color: #000;
}

.fc-primary {
  color: #1C44AD;
}

/* background-color */
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

/* font-weight */
.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

/* font-style */
.fs-normal {
  font-style: normal;
}

.fs-italic {
  font-style: italic;
}

/* text-transform */
.tt-capitalize {
  text-transform: capitalize;
}

.tt-lowercase {
  text-transform: lowercase;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-none {
  text-transform: none;
}

.tt-unset {
  text-transform: unset;
}

/* text-decoration */
.td-underline {
  text-decoration: underline;
}

.td-none {
  text-decoration: none;
}

/* text-align */
.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-justify {
  text-align: justify;
}

/* white-space */
.ws-normal {
  white-space: normal;
}

.ws-nowrap {
  white-space: nowrap;
}

.ws-pre {
  white-space: pre;
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

.ws-pre-line {
  white-space: pre-line;
}

/* word-break */
.wb-normal {
  word-break: normal;
}

.wb-break-all {
  word-break: break-all;
}

.wb-keep-all {
  word-break: keep-all;
}

.wb-inherit {
  word-break: inherit;
}

.wb-initial {
  word-break: initial;
}

.wb-unset {
  word-break: unset;
}

/* break-word */
.break-word {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

:root {
  --color-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --color-primary: Proxima Nova, sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #1C44AD;
}
