/**
 * Typography
 * https://stackoverflow.design/product/base/typography/
 */
.f-primary-300 {
    font-family:"Rubik", sans-serif;
    font-weight:300;
}

.f-primary-400 {
    font-family:"Rubik", sans-serif;
    font-weight:400;
}

.f-primary-500 {
    font-family:"Rubik", sans-serif;
    font-weight:500;
}

.f-primary-600 {
    font-family:"Rubik", sans-serif;
    font-weight:600;
}

/* font-family */
.ff-sans {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.ff-serif {
    font-family:Georgia, Cambria, "Times New Roman", Times, serif;
}

.ff-primary {
    font-family:"Rubik", sans-serif;
}

.ff-icomoon {
    font-family:"icomoon", fantasy;
}

/* color */
.fc-white {
    color:#fff;
}

.fc-black {
    color:#000;
}

.fc-primary {
    color:#7cc181;
}

.fc-secondary {
    color:#001e49;
}

.fc-green-300 {
    color:#7cc181;
}

.fc-green-200 {
    color:#aed2b1;
}

.fc-green-100 {
    color:#f8fcf9;
}

.fc-blue {
    color:#001e49;
}

.fc-gray {
    color:#acb3be;
}

.fc-black {
    color:#000;
}

/* background-color */
.bg-white {
    background-color:#fff;
}

.bg-black {
    background-color:#000;
}

.bg-primary {
    background-color:#7cc181;
}

.bg-secondary {
    background-color:#001e49;
}

.bg-green-300 {
    background-color:#7cc181;
}

.bg-green-200 {
    background-color:#aed2b1;
}

.bg-green-100 {
    background-color:#f8fcf9;
}

.bg-blue {
    background-color:#001e49;
}

.bg-gray {
    background-color:#acb3be;
}

.bg-black {
    background-color:#000;
}

/* font-weight */
.fw-normal {
    font-weight:400;
}

.fw-bold {
    font-weight:700;
}

/* line-height */
.lh-xs {
    line-height:1;
}

.lh-sm {
    line-height:1.15;
}

.lh-md {
    line-height:1.3;
}

.lh-lg {
    line-height:1.6;
}

.lh-xl {
    line-height:1.92;
}

.lh-xxl {
    line-height:2;
}

.lh-unset {
    line-height:unset;
}

/* font-style */
.fs-normal {
    font-style:normal;
}

.fs-italic {
    font-style:italic;
}

/* text-transform */
.tt-capitalize {
    text-transform:capitalize;
}

.tt-lowercase {
    text-transform:lowercase;
}

.tt-uppercase {
    text-transform:uppercase;
}

.tt-none {
    text-transform:none;
}

.tt-unset {
    text-transform:unset;
}

/* text-decoration */
.td-underline {
    text-decoration:underline;
}

.td-none {
    text-decoration:none;
}

/* text-align */
.ta-left {
    text-align:left;
}

.ta-center {
    text-align:center;
}

.ta-right {
    text-align:right;
}

.ta-justify {
    text-align:justify;
}

/* white-space */
.ws-normal {
    white-space:normal;
}

.ws-nowrap {
    white-space:nowrap;
}

.ws-pre {
    white-space:pre;
}

.ws-pre-wrap {
    white-space:pre-wrap;
}

.ws-pre-line {
    white-space:pre-line;
}

/* word-break */
.wb-normal {
    word-break:normal;
}

.wb-break-all {
    word-break:break-all;
}

.wb-keep-all {
    word-break:keep-all;
}

.wb-inherit {
    word-break:inherit;
}

.wb-initial {
    word-break:initial;
}

.wb-unset {
    word-break:unset;
}

/* break-word */
.break-word {
    word-break:break-word;
    word-wrap:break-word;
    overflow-wrap:break-word;
    hyphens:auto;
}

:root {
    --twc-font-sans:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --twc-font-serif:Georgia, Cambria, "Times New Roman", Times, serif;
    --twc-font-primary:"Rubik", sans-serif;
    --twc-font-icomoon:"icomoon", fantasy;
}

:root {
    --twc-color-white:#fff;
    --twc-color-black:#000;
    --twc-color-primary:#7cc181;
    --twc-color-secondary:#001e49;
    --twc-color-green-300:#7cc181;
    --twc-color-green-200:#aed2b1;
    --twc-color-green-100:#f8fcf9;
    --twc-color-blue:#001e49;
    --twc-color-gray:#acb3be;
    --twc-color-black:#000;
}
