/**
 * Typography
 * https://stackoverflow.design/product/base/typography/
 */
.f-primary-400 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
}

.f-primary-500 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
}

.f-primary-700 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
}

/* font-family */
.ff-sans {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.ff-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.ff-primary {
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* color */
.fc-white {
  color: #fff;
}

.fc-black {
  color: #000;
}

.fc-primary {
  color: #1c44ad;
}

.fc-dark {
  color: #1a1b1c;
}

.fc-gray {
  color: #f6f6f6;
}

.fc-light-blue {
  color: #115df7;
}

.fc-dark-blue {
  color: #21297d;
}

/* background-color */
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-primary {
  background-color: #1c44ad;
}

.bg-dark {
  background-color: #1a1b1c;
}

.bg-gray {
  background-color: #f6f6f6;
}

.bg-light-blue {
  background-color: #115df7;
}

.bg-dark-blue {
  background-color: #21297d;
}

/* font-weight */
.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

/* font-style */
.fs-normal {
  font-style: normal;
}

.fs-italic {
  font-style: italic;
}

/* text-transform */
.tt-capitalize {
  text-transform: capitalize;
}

.tt-lowercase {
  text-transform: lowercase;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-none {
  text-transform: none;
}

.tt-unset {
  text-transform: unset;
}

/* text-decoration */
.td-underline {
  text-decoration: underline;
}

.td-none {
  text-decoration: none;
}

/* text-align */
.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-justify {
  text-align: justify;
}

/* white-space */
.ws-normal {
  white-space: normal;
}

.ws-nowrap {
  white-space: nowrap;
}

.ws-pre {
  white-space: pre;
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

.ws-pre-line {
  white-space: pre-line;
}

/* word-break */
.wb-normal {
  word-break: normal;
}

.wb-break-all {
  word-break: break-all;
}

.wb-keep-all {
  word-break: keep-all;
}

.wb-inherit {
  word-break: inherit;
}

.wb-initial {
  word-break: initial;
}

.wb-unset {
  word-break: unset;
}

/* break-word */
.break-word {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

:root {
  --vii-font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --vii-font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --vii-font-primary: 'Be Vietnam Pro', sans-serif;
}

:root {
  --vii-color-white: #fff;
  --vii-color-black: #000;
  --vii-color-primary: #1c44ad;
  --vii-color-dark: #1a1b1c;
  --vii-color-gray: #f6f6f6;
  --vii-color-light-blue: #115df7;
  --vii-color-dark-blue: #21297d;
}
