/**
 * Width & Height
 */
/* w-auto */
.w-auto {
  width:  auto;
}

/* width */
.w0 {
  width: 0;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

/* w33 */
.w33 {
  width:  33.33%;
}

/* w66 */
.w66 {
  width:  66.67%;
}

/* w-screen */
.w-screen {
  width:  100vw;
}

/* h-auto */
.h-auto {
  height:  auto;
}

/* height */
.h0 {
  height: 0;
}

.h100 {
  height: 100%;
}

/* h-screen */
.h-screen {
  height:  100vh;
}

/* w-full */
.w-full {
  width:  100%;
}

/* w-1\/3 */
.w-1\/3 {
  width:  33.333333%;
}

/* w-1\/2 */
.w-1\/2 {
  width:  50%;
}

/* h-full */
.h-full {
  height:  100%;
}
