/// Configuration
/// Edit these configs to fit your needs
@import "defs";

$version: "1.0.0";

// ignore
$ignore_inherit_initial: justify-content flex-wrap flex-direction align-self align-items align-content;
$ignore: (
        inherit: $ignore_inherit_initial,
        initial: $ignore_inherit_initial,
);

// breakpoints
$breakpoints: (
        "lg": 1180px,
        "md": 1023px,
        "sm": 767px,
);

// spacing values (for margin and padding)
$spacing_values: (
        "x":(
                "values": 0 20 60px,
                "sm": 0 15 30
        ),
        "y":(
                "values": 0 1 2 4 6 8 12 16 24 32 48 64 96 128,
                "lg": 0 1 2 4 6 8 12 16 24 30 45 60 90 100,
                "md": 0 1 2 4 6 8 12 16 24 30 45 45 60 80,
                "sm": 0 1 2 4 6 8 12 16 24 30 45 45 45 60,
        ),
);

// coordinate values (for position top, right, bottom left)
$coordinate_values: (
        "values": 0px 1 2 4 6 8 12 16 24 50%,
        "sm": 0 1px 2 4 6 8 12 16 20 20%,
);

// font family
$font_families: (
        sans:'', // set empty to remove this item
        primary:'Proxima Nova, sans-serif'
);