/// Configuration
/// Edit these configs to fit your needs
@import "defs";

// Project info
$info: (
        name: 'Gilimex 2022',
        variable-prefix: 'vii'
);

// font family
$fonts: (
        primary: (
                font-face: "'Be Vietnam Pro', sans-serif",
                weight: 400 500 700
        )
);

// colors
$colors: (
        primary: '#1c44ad',
        dark: '#1a1b1c',
        "gray": '#f6f6f6',
        light-blue: '#115df7',
        dark-blue: '#21297d'
);

// breakpoints
$breakpoints: (
        "lg": 1180px,
        "md": 1023px,
        "sm": 767px,
);

// font sizes
$font-sizes: (
        "values": 0 1 2 4 6 8 12 16 24 32 48 64 96 128,
);

// spacing values (for margin and padding, x for left/right. y for top/bottom)
$spacing_values: (
        "x":(
                "values": 0 20 60px,
        ),
        "y":(
                "values": 0 24 128,
                "sm": 0 20 80,
        ),
);

// coordinate values (for position top, right, bottom left)
$coordinate_values: (
        "values": 0 50%
);