/// Mixins

// Get minix
@mixin get-mixin($name) {
  @if ($name==break-word) {
    @include break-word;
  }
}

// A utility class combining all word-break strategies
// when you absolutely must break a word.
@mixin break-word {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}