/**
 * Aspect Ratio
 */
@use "sass:map";
@import "helpers";

$dataset: (
        aspect-ratio:(
                type:value-key-as-postfix,
                value:(
                        "auto":"auto",
                        "inherit":"inherit",
                        "unset":"unset",
                        "1":1,
                        "169":"16/9",
                        "43":"4/3",
                        "12":"1/2",
                )
        ),
        aspect-square: (
                inline: "aspect-ratio: 1/1",
        ),
);

// merge
$custom_aspect_ratio: map-merge(map-get($dataset, "aspect-ratio", "value"), $aspect_ratio);
$dataset: map.set($dataset, "aspect-ratio", "value", $custom_aspect_ratio);

// print
@include print($dataset);