/**
 * Border radius
 * https://stackoverflow.design/product/base/border-radius/
 */

@import "helpers";

$dataset: (
        bar-pill: (
                inline: "border-radius: 1000px",
        ),
        bar-circle: (
                inline: "border-radius: 100%",
        ),
        border-radius: (
                prefix: "bar",
                hyphen:false,
                value: 0 3px 5px 10px 15px,
        ),
        rounded-full: (
                inline: "border-radius: 9999px",
        )
);

@include print($dataset);
