/**
 * Border radius
 * https://stackoverflow.design/product/base/border-radius/
 */

@use "sass:list";
@use "sass:map";
@import "helpers";

// fallback if _config.scss doesn't define $border_radius
$border_radius: () !default;

// map -> list (comma separated)
$radius_values: ();
@if type-of($border_radius) == "map" {
        @each $k, $v in $border_radius {
                $radius_values: list.append($radius_values, $k, comma);
        }
} @else if type-of($border_radius) == "list" {
        $radius_values: $border_radius;
}

$dataset: (
        bar-pill: (inline: "border-radius: 1000px"),
        bar-circle: (inline: "border-radius: 100%"),

        border-radius: (
                prefix: "bar",
                hyphen: false,
                value: $radius_values
        )
);

@include print($dataset);
