@import "helpers";


@function get-container-name($data) {
  $container-selector: "";

  $index: 0;
  @each $name, $value in map-get($data, size) {

    // generate a container selector chain
    @if ($index != 0) {
      $container-selector: $container-selector + "," + "." + $name;
    } @else {
      $container-selector: "." + $container-selector + $name;
    }
    $index: $index + 1;
  }
  @return $container-selector;
}

@mixin print-container-class($data) {
  $container-gap: map-get($data, 'gap');
  $container-selector: get-container-name($data);
  @debug $container-selector;

  // print
  $dataset: (
          container:(
                  selectors: '#{$container-selector}',
                  inline: 'position:relative' 'width:100%' 'margin-right:auto' 'margin-left:auto' 'padding-left:#{format-value($container-gap)}' 'padding-right:#{format-value($container-gap)}'
          ),
  );
  @include print($dataset);


  @each $name, $value in map-get($data, size) {
    @if ($name != 'container-fluid') {
      .#{$name} {
        max-width: format-value(calc($value + $container-gap * 2));
      }
    }
  }
}

@mixin print-container($data, $prefix) {
  @include print-container-class($data);
}


@include print-container($containers, "container");