/**
 * Cursors
 * https://stackoverflow.design/product/base/cursors/
 */
@import "helpers";

$dataset: (
        cursor:(
                prefix:'c',
                value:auto default pointer text wait move not-allowed help
        ),
        cursor-pointer: (
                inline: "cursor: pointer",
        )
);

// print
@include print($dataset);