/**
 * Cursors
 * https://stackoverflow.design/product/base/cursors/
 */
@use "helpers";

$dataset: (
        cursor:(
                prefix:'c',
                value:auto default pointer text wait move not-allowed help
        ),
);

// print
@include helpers.print($dataset);