/**
 * Display
 * https://stackoverflow.design/product/base/display/
 */
@import "helpers";

$dataset: (
        display: block inline inline-block flex inline-flex grid inline-grid table table-cell none unset,
        flex: (
                inline: "display: flex",
        ),
        inline: (
                inline: "display: inline",
        ),
        inline-flex: (
                inline: "display: inline-flex",
        ),
        inline-block: (
                inline: "display: inline-block",
        ),
);

// print
@include print($dataset);
