/**
 * Flex
 * https://stackoverflow.design/product/base/flex/
 */
@import "helpers";

$dataset: (
        align-content: stretch center flex-start flex-end space-between space-around initial inherit,
        align-items: stretch center flex-start flex-end baseline initial inherit,
        align-self: auto stretch center flex-start flex-end baseline initial inherit,
        flex-direction: row row-reverse column column-reverse initial inherit,
        flex-wrap: nowrap wrap wrap-reverse initial inherit,
        justify-content: flex-start flex-end center space-between space-around space-evenly initial inherit,
        fl-center:(
                inline: 'display:flex' 'align-items:center' 'justify-content:center'
        ),
        fl-center-v:(
                inline: 'display:flex' 'align-items:center'
        ),
        fl-center-h:(
                inline: 'display:flex' 'justify-content:center'
        ),
        fl-grid:(
                inline: 'display:flex' 'flex-wrap:wrap'
        ),
        items-start: (
                inline: 'align-items:flex-start'
        ),
        items-end: (
                inline: 'align-items:flex-end'
        ),
        items-center: (
                inline: 'align-items:center'
        ),
        items-baseline: (
                inline: 'align-items:baseline'
        ),
        justify-start: (
                inline: 'justify-content:flex-start'
        ),
        justify-end: (
                inline: 'justify-content:flex-end'
        ),
        justify-center: (
                inline: 'justify-content:center'
        ),
        justify-between: (
                inline: 'justify-content:space-between'
        ),
        justify-around: (
                inline: 'justify-content:space-around'
        ),
        justify-evenly: (
                inline: 'justify-content:space-evenly'
        ),
        flex-col-reverse: (
                inline: 'flex-direction:column-reverse'
        ),
        flex-nowrap: (
                inline: 'flex-wrap:nowrap'
        ),
        "flex-wrap@single": (
                selectors: ".flex-wrap",
                inline: "flex-wrap:wrap"
        ),

);

// print
@include print($dataset);