@use "helpers";
@use "sass:list";
@use "sass:map";

/**
 * Font Sizes
 */

@mixin font-sizes($font_sizes) {
  @each $breakpoint, $values in $font_sizes {
    @if helpers.is-breakpoint($breakpoint) {
      // Responsive value
      @include helpers.media-screen($breakpoint) {
        :root {
          @for $i from 1 through list.length($values) {
            $value: list.nth($values, $i);
            $postfix: helpers.get-desktop-value($i, $font_sizes);

            //@debug $value, $postfix;

            /// if changed compare with desktop value
            @if $value != $postfix {
              $previous_postfix: helpers.get-previous-breakpoint-value($i, $value, $breakpoint, $font_sizes);

              // and changed compare with the previous value
              @if $value != $previous_postfix {
                @include helpers.get-variable(size-#{helpers.replace-prop($postfix)}, #{helpers.format-value($value)});
              }
            }
          }
        }
      }
    } @else {
      // Desktop value
      :root {
        @for $i from 1 through list.length($values) {
          $value: list.nth($values, $i);
          $postfix: helpers.get-previous-breakpoint-value($i, $value, $breakpoint, $font_sizes);
          //@debug $value, $postfix;

          @include helpers.get-variable(size-#{helpers.replace-prop($postfix)}, #{helpers.format-value($value)});
        }
      }

      // generate font size selector
      @for $i from 1 through list.length($values) {
        $value: list.nth($values, $i);
        $postfix: helpers.get-previous-breakpoint-value($i, $value, $breakpoint, $font_sizes);
        //@debug $value, $postfix;

        $var: var(#{helpers.get-variable(size-#{helpers.replace-prop($postfix)})});

        .fs#{helpers.replace-prop($postfix)} {
          font-size: #{$var};
        }
      }

    }
  }
}

@mixin print-font-size-custom-class($data) {

  // print
  $list: map.get(helpers.$font_sizes, 'values');

  :root {
    @each $name, $value in $data {
      $isValid: helpers.map-search($list, $value);
      // if the value is not existing in the $font_sizes, create 'px' for the value
      @if (not $isValid) {
        @include helpers.get-variable(size-#{helpers.replace-prop($name)}, helpers.format-value($value));
      } @else {
        @include helpers.get-variable(size-#{helpers.replace-prop($name)}, var(#{helpers.get-variable(size-#{helpers.replace-prop($value)})}));
      }
    }
  }
}

@include font-sizes(helpers.$font_sizes);
@include print-font-size-custom-class(helpers.$font_size_custom);
