/**
 * Height
 * https://stackoverflow.design/product/base/width-height/
 */

@import "helpers";

$dataset: (
  h-auto: (
    inline: "height:auto",
  ),
  h-screen: (
    inline: "height:100vh",
  ),
  height: (
    prefix: "h",
    value: 0 100%,
  ),
);

@include print($dataset);
