/**
 * Overflow
 * https://stackoverflow.design/product/base/overflow/
 */

@import "helpers";

$dataset: (
  overflow: visible hidden scroll auto,
  overflow-x: visible hidden scroll auto,
  overflow-y: visible hidden scroll auto,
);

@include print($dataset);
