/**
 * Positioning
 * https://stackoverflow.design/product/base/position/
 */
@import "helpers";

/* Positions */
$positions: absolute fixed relative static sticky;
@each $prop in $positions {
  .ps-#{$prop} {
    position: #{$prop};
  }
}

/* Coordinates */
@mixin position-coordinates($value,$postfix) {

  @each $name, $prop in $coordinates {
    //@debug $name+'-'+$value+'-'+format-postfix($postfix);
    .#{$name}#{format-postfix($postfix)} {
      #{$prop}: format-value($value);
    }
  }
}

@each $breakpoint, $values in $coordinate_values {
  @include respond-to($breakpoint) {
    @for $i from 1 through length($values) {
      $value: nth($values, $i);
      $postfix: get-previous-breakpoint-value($i, $value, $breakpoint, $coordinate_values);

      @if is-breakpoint($breakpoint) {
        // skip not responsive values
        //@debug $value + ' - ' + $postfix +' -> '+format-value($value) +' - '+ format-value($postfix);

        @if format-value($value) != format-value($postfix) {
          @include position-coordinates($value, $postfix);
        }
      } @else {
        @include position-coordinates($value, $postfix);
      }
    }
  }
}