/**
 * Typography
 * https://stackoverflow.design/product/base/typography/
 */
@use "sass:map";
@import "helpers";

$dataset: (
        font-family:(
                type:value-key-as-postfix,
                value:(
                        sans:'-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif',
                        serif:'Georgia, Cambria, "Times New Roman", Times, serif'
                )
        ),
        font-weight: normal bold,
        font-style: normal italic,
        text-transform: capitalize lowercase uppercase none unset,
        text-decoration: underline none,
        text-align: left center right justify,
        white-space: normal nowrap pre pre-wrap pre-line,
        word-break: normal break-all keep-all inherit initial unset,
        break-word:(
                type:mixin
        )
);

// custom font family
$custom_font_family: map-merge(map-get($dataset, "font-family", "value"), $font_families);
$dataset: map.set($dataset, "font-family", "value", $custom_font_family);

// print
@include print($dataset);