/**
 * Width & Height
 */
@import "helpers";

$dataset: (
        w-auto: (
                inline: "width: auto",
        ),
        width:(
                prefix: "w",
                hyphen: false,
                value: 0 10% 20% 25% 30% 40% 50% 60% 70% 75% 80% 90% 100%
        ),
        w33:(
                inline: "width: 33.33%",
        ),
        w66:(
                inline: "width: 66.67%",
        ),
        w-screen:(
                inline: "width: 100vw",
        ),
        h-auto: (
                inline: "height: auto",
        ),
        height:(
                prefix:"h",
                hyphen:false,
                value:0 100%
        ),
        h-screen:(
                inline: "height: 100vh",
        ),
        w-full:(
                inline: "width: 100%",
        ),
        w-1\/3:(
                inline: "width: 33.333333%%",
        ),
        w-1\/2:(
                inline: "width: 50%",
        ),
        h-full:(
                inline: "height: 100%",
        ),
);

@include print($dataset);